.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.th {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}